<div class="container">
  <h1>Infinium RecipeBox</h1>
  <h3>A place to store all your family recipe's and more!</h3>
 
  <hr/>

  <button class="btn btn-secondary">@Html.ActionLink("Recipe's", "Index", "Recipes")</button>
  <button class="btn btn-secondary">@Html.ActionLink("Recipe Categories", "Index", "Tag")</button>
</div>